<h1> New game </h1>

<% @letters = ('A'..'Z').to_a.sample(10) %>

<div class="letter-border">

<% @letters.each do |letter| %>

    <div class="letterall">
    <%= letter %></div>
  <% end %>
</div>

<form action="score" method="TODO" data-turbo="false">
 <input type="text"  name="name">
</form>
